<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .aligncenter {
          text-align: center;
          padding-top: 50px;
          width: 100%;
          height:fit-content;
      }
      .alignbtn{
          text-align: center;
          padding-top: 50px;
          padding-right: 30px;
          width: 50%;
      }
      .buttons { 
         width: 100%;
          table-layout: fixed;
         border-collapse: collapse;
          background-color: red; 
      }
      .buttons button { 
        width: 100%;
      }
    </style>
    </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ADCO Electrical Corporation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Information
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Employee Profile</a>
                <a class="dropdown-item" href="#">News</a>
              </div>
            </li>
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-danger my-2 my-sm-0">Log Out</button>
        </form>
      </nav>
      <div class="container aligncenter">
        <div class="row">
          <div class="col-xl">
            <button class="btn-light btn-lg alignbtn" onclick="window.location='screeningform.html'">COVID-19 Screening</button>
            <br>
            <button class="btn-light btn-lg alignbtn">Other Module 1</button>
          </div>
          <div class="col-xl">
            <button class="btn-light btn-lg alignbtn">Other Module 2</button>
            <br>
            <button class="btn-light btn-lg alignbtn">Other Module 3</button>
          </div>
        </div>
      </div>
      
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>